<div>


  <div id="box">

    <h1>Create qr code</h1>

    <div id="left">
    <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div>
        <label class="col-form-label col-sm-2">Name</label>
        <div>
          <input type="text" name="qrCodeName" [(ngModel)]="qrcode.name">
        </div>
      </div>

      <div>
        <label class="col-form-label col-sm-2">Url</label>
        <div>
          <input type="text" name="qrCodeUrl" [(ngModel)]="qrcode.url">
        </div>
      </div>

      <div>
        <label class="col-form-label col-sm-2">Status</label>
        <div>
          <input type="text" name="qrCodeStatus" [(ngModel)]="qrcode.status">
        </div>
      </div>
      <br>
      <div>
        <button >Save</button>
      </div>

      <div mat-dialog-actions>
        <button class="btn btn-danger" mat-button (click)="onNoClick()">Close</button>
      </div>
    </form>
  </div>
    
  <div class="divider"></div>


    <div id="right"> 
      <div>
        <qr-code [value]="value" id="generator" name="qrCode"></qr-code>
      </div>
      <br>
      <div>
        <button class="btn btn-primary" (click)="genarateQrCode()">Generate qr code </button>
      </div>

    </div>

  </div>
</div>