<h1 >Edit qr code</h1>
<div mat-dialog-content>
</div>

<div class="example-container">
  <form #form="ngForm"  >
    <div>
      <label class="col-form-label col-sm-2" >Name</label>
      <div>
        <input  type="text" name="qrCodeName" [(ngModel)]="data.name">
      </div>
    </div>
    <div>
      <label class="col-form-label col-sm-2" >Url</label>
      <div>
        <input type="text" name="qrCodeUrl" size ="autocomplete"[(ngModel)]="data.url">
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button  class="btn btn-success"   (click)="onClick(data)"   cdkFocusInitial>Save</button>
  <button class="btn btn-danger" mat-button (click)="onNoClick()">Close</button>
  </div>